.app {
  display: grid;
  place-items: center;
  background-color: #dadbd3;
  height: 100vh;
  background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
  background-repeat: repeat;
  background-position: center;
}

.app__body {
  display: flex;
  background-color: #ededed;
  width: 90vw;
  height: 90vh;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .app__body {
    width: 100vw;
    height: 100vh;
  }
}
