.sidebar-chat {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.sidebar-chat:hover {
  background-color: #ebebeb;
}

.sidebar-chat__info {
  margin-left: 10px;
}

.sidebar-chat__info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}
